<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles.css"/>
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img src="/logo.png" alt="logo-foodfy" class="logo"/>
      </a>
      <a href="/about" class="link">Sobre</a>
      <a href="/recipes" class="link">Receitas</a>
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
    <script src="/scripts.js"></script>
  </body>
</html>