{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        {% for recipe in recipes %}
            <div class="card">
                <img src="{{ recipe.image }}" alt="" class="plate"/>
                <p class="plate-name">{{ recipe.title }}</p>
                <p class="plate-author">{{ recipe.author }}</p>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}